<app-header></app-header>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
      <app-add (add)="onAdd($event)"></app-add>
    </div>
    <div class="col-4">
      <app-search (search)="onSearch($event)"></app-search>
    </div>
  </div>
  <div *ngIf="searching == true">
    <p>Have {{ search.length }} results</p>
    <app-list-item [items]="search" (itemDeletedId)="deleteItem($event)"></app-list-item>
  </div>
  <div *ngIf="searching == false">
    <app-list-item [items]="items"  (itemDeletedId)="deleteItem($event)"></app-list-item>
  </div>
</div>  